.custom-select {
    position: relative;
    z-index: 2;
}

.custom-select .selected {
    padding: 5px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
}

.custom-select .un-selected {
    width: 100%;
    max-height: 500px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    top: 100%;
    position: absolute;
    background-color: #ffffff;
}

.custom-select .empty {
    opacity: .5;
}

.custom-select .item {
    padding: 5px;
    height: calc(1em + 10px);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.custom-select .item:hover {
    background-color: rgba(0, 0, 0, .03);
    border-color: #4a77f4;
}

.custom-select .selected .item {
    margin: 2px;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.custom-select .selected:hover .item,
.custom-select .selected:hover .empty {
    color: #3A3D46 !important;
}

.custom-select .selected .item i {
    margin-left: 5px;
    color: rgba(214, 31, 31, 0.267) !important;
}

.custom-select .selected .item:hover i {
    color: rgb(219, 33, 33) !important;
}

.custom-select .selected .arrow {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
}

.custom-select .selected .arrow.rotate {
    transform: translate(0, -50%) rotate(180deg);
}