.table-row {
    display: flex;
}

.table-row:not(#table-headers) {
    min-height: calc(2.5vw + 30px);
}

.table-column {
    padding: 5px;
    flex: 1;
    font-size: .85vw;
}

#table-headers {
    padding: 3px 0px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #b8b7b7;
}

#table-headers .table-column {
    text-align: center;
    cursor: default;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#table-headers .table-column.activity .activity-actions {
    border: none;
    justify-content: center;
}

.table-row:nth-child(2n+2) {
    background: #f2f2f2;
}

.table-row:last-child {
    border-radius: 0px 0px 5px 5px;
}

#table-rows .table-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

#table-rows .table-column.activity {
    width: 10%;
    max-width: 10%;
    padding-right: 30px;
    justify-content: start;
}

.table-column {
    padding: 10px;
}

.table-column .countries {
    display: flex;
    flex-wrap: wrap;
    animation: fadeIn 0.5s ease-in;
}

.table-column .countries:hover {
    display: flex;
    flex-wrap: wrap;
}