@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./assets/css/animations.css');
@import url('./assets/css/table.css');
@import url('./assets/css/custom-select.css');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #3A3D46;
}

.buttons-container {
    padding: 10px;
    text-align: right;
}

.button {
    padding: 10px 30px;
    margin: 5px !important;
    font-weight: 400;
    border-radius: 5px;
    background: rgb(239, 239, 239);
    border: none;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    font-weight: 500;
}

.button.button-primary {
    background-color: #4a77f4;
    color: #fff;
}

.button.button-secondary {
    background-color: rgb(219, 33, 33);
    color: #fff;
}

.button:not(:last-child) {
    margin-right: 20px !important;
}

.button i {
    color: inherit;
}

.hide {
    display: none !important;
}

.make-visible {
    border-bottom: 3px solid rgba(54, 108, 243, .2);
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, .05);
    background-color: #ffffff;
    border-radius: 4px;
}

.pointer {
    cursor: pointer;
}

.close {
    margin: 0 !important;
    top: 10px;
    right: 10px;
    font-size: 1vw;
    z-index: 100;
    display: block;
    position: absolute;
    cursor: pointer;
    font-weight: bold;
}

.close i {
    font-size: 1.2vw;
}

.close i {
    color: rgba(0, 0, 0, .5);
}

.close:hover i {
    color: #000000;
}

.back {
    margin: 0 !important;
    top: 10px;
    left: 10px;
    font-size: 1vw;
    z-index: 100;
    display: block;
    position: absolute;
    cursor: pointer;
    font-weight: bold;
}

.delete {
    color: red;
}

.input-container {
    width: 100%;
    text-align: left;
}

.input-container:not(:last-child) {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.input-container input,
.input-container select,
.input-container textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #e2e2e2;
}

.input-container input:disabled,
.input-container select:disabled,
.input-container textarea:disabled,
.input-container.disabled label {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
    opacity: 0.7;
}

.input-container textarea {
    height: 100px;
}

.accordion-toggle {
    cursor: pointer;
}

.accordion-toggle:hover * {
    color: #4a77f4 !important;
}

.accordion-toggle .arrow {
    display: inline-block;
    transition: all .5s;
}

.accordion-toggle .arrow.rotate {
    transform: rotate(180deg);
}

.fa-times-circle {
    color: rgba(214, 31, 31, 0.267);
    font-size: 0.8vw;
}

.fa-times-circle:hover {
    color: rgb(219, 33, 33);
}

.page-container {
    width: 97%;
    margin: 50px auto;
}

.content-contaiener {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.highlighted {
    color: #4a77f4;
}

.menu-link {
    padding: 8px 20px;
    border: 1px solid #3A3D46;
    border-width: 0px 0px 1px 0px;
    font-size: 1vw;
    margin-left: 5px;
    background-color: transparent;
    color: #3A3D46;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.menu-link:hover {
    cursor: pointer !important;
    background-color: rgba(0, 0, 0, .03);
    border-color: #4a77f4;
}

.menu-link.active {
    opacity: .5;
    border-color: #4a77f4;
    pointer-events: none;
    border-bottom: 2px solid #4a77f4 !important;
}

.component-navigation-container .menu-link:not(:hover) {
    border-bottom-color: rgba(0, 0, 0, 0);
}

/* SIDE POPUP */
.side-popup {
    width: 30vw;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 20px;
    animation: fadeInRight 1s;
    box-shadow: rgb(0 0 0 / 15%) -3.05px 0.95px 9.6px;
    z-index: 3;
    position: fixed;
    background-color: #ffffff;
    overflow-y: scroll;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        right: -30vw;
    }

    100% {
        opacity: 1;
        right: 0px;
    }
}

.side-popup>*:not(:last-child) {
    margin-bottom: 20px;
}

.side-popup h3 {
    margin-bottom: 5px;
}

/* SIDE POPUP END */